.home-background {
  background-image: linear-gradient(rgba(255, 255, 255, 0.993), rgba(255, 255, 255, 0.76));
  margin: auto;
  max-width: 500px;
  height: 100vh;
  overflow-x: hidden;

}

.balance {
  margin-top: 50px;
  text-align: center;
}

.section-balance {
  margin: auto;
  background-color: black;
  max-width: 70%;
  height: 130px;
  border-radius: 5px;
}

.white {
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  padding-top: 48px;
}

.transfer-text {
  text-align: center;
  color: red;
  margin-bottom: 10px;
}

.cash-type {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.cash {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 1.5rem;
  width: 100px;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  margin-bottom: 50px;
}

.selected {
  border-bottom: 3px solid green;
}

.container-cash {
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.loading {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: red;
}